[run]
source =
    hug_hello_world
    tests
branch = True
omit =
    hug_hello_world/cli.py

[report]
exclude_lines =
    no cov
    no qa
    noqa
    pragma: no cover
    if __name__ == .__main__.:
